.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}
.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}

.w-col-8 {
  width: 66.66666667%;
}